body {
  background: black;
}

.paused {
  filter: grayscale(100%);
}
h1 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  margin: 0 auto;
  max-width: 1080px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board {
  overflow: hidden;
  min-width: 300px;
  min-height: 500px;
  background-color: rgb(255, 241, 210);
  z-index: 100;
}

.bird {
  display: block;
  position: absolute;
  z-index: 7;
}

.bird img {
  height: 64px;
}

.pipe {
  width: 60px;
  height: 200px;
  background-color: green;
  position: absolute;
  z-index: 7;
}
