@import url('https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,900&display=swap');

* {
    font-family: Muli, Arial, Helvetica, sans-serif;
    
}
.container {
    padding-left: 24px;
    padding-right: 24px;
    margin: 0 auto;
    width: 100%;
    max-width: 1080px;
    z-index: 100;
}

nav {
    background-color: #09002B;
    padding: 16px;
}

html, body {
    margin: 0;
    padding: 0;
}

.material-icon {
    font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

#logo {
    width: 125px;
    height: 32px;
    background: url(https://www.razorpay.com/assets/razorpay-logo-white.svg) center no-repeat;
    background-size: contain;
display: block;
float: left;
}
.nav-menu {
    display: inline;
    list-style: none;
}

.nav-menu-item {
    color: white;
    font-size: 15px;
    display: inline-block;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 16px;
    padding-right: 16px;
    margin-top: -8px;
}

.nav-menu-item:hover {
    color: #528ff0;
    cursor: pointer;
}

.right {
    float: right;
    width: fit-content;
}

.drawer-icon {
    color: white;
    overflow: hidden;
    display: inline-block;
    margin: 10px;
}

.hiring {
    display: inline-block;
    border-bottom: 2px solid transparent;
    color: white;
    font-size: 14px;
    padding: 8px 12px 8px 24px;
    background: linear-gradient(rgba(255, 255, 255, 0.055), rgba(255, 255, 255, 0.096) );
}

.hiring::before {
    height: 8px;
    width: 8px;
    content: '';
    background-color: rgba(255, 255, 255, 0.377);
    display: block;
    position: absolute;
    top: 5%;
    transform: translateX(-14px);
    border-radius: 50%;
}
.hiring:hover {
    transition: border-bottom-color 0.3s ease-in-out;
    border-bottom-color: white;
}

.sign-up-bar {
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
    display: inline;
}

.sign-up-bar>input {
    outline: none;
    border: none;
    font-size: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    display: none;
}

.sign-up-btn {
    font-size: 15px;
    outline: none;
    border: none;
    background: white;
    color: #528ff0c4;
    font-weight: bold;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 14px;
    padding-right: 14px;
    transition: color 0.3s ease-in-out;
}

.sign-up-btn:hover {
    color: #528ff0;
    cursor: pointer;
}

.green-dash {
    height: 4px;
    width: 25px;
    background-color: #37cb9d;
}
section {
    right: 0;
    left: 0;
    padding-top: 20px;
    width:100%;
    min-height:100vh;
}

.banner {
    background-color: #0A002C;
}

.banner h1 {
    font-size: 40px;
    font-weight: 800;
    color: white;
    max-width: 400px;
}

.banner p {
    color: rgba(255, 255, 255, 0.712);
    font-size: 18px;
    max-width: 430px;
    line-height: 150%;
    padding-top: 10px;
    padding-bottom: 16px;
}

.figure {
right:10%;
max-width: 1080px;
max-height:600px;    
position: absolute;
overflow: hidden;
z-index: 1;
}


.row {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap;
}

.column {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}
.card {
    width: 280px;
    margin: 14px;
}

.mob {
    display: none;
}

.think-razorpay-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 24px;
}
.think-razorpay h2 {
    font-weight: 800;
    color: #0d2366;
}
/* For mobile screens */

@media (max-width: 1023px) {
    .think-razorpay-header {
        align-items: flex-start;
     }
    .white-shapes {
        display:none;
    }
    body {
        overflow-x: hidden;
    }
    .figure {
        position: relative;
    }
.banner {
        padding: 24px;
        }
.container {
    max-width: 100%;
}
.banner h1 {
max-width: 100%;
padding: 24px 24px 0px 0px;
}

.column {
    flex-basis: 100%;
}

.mob {
    display: inline-block;
}
.no-mob {
    display: none;
}

.white-card {
    width: 100%;
}

.product-launches {
    width: 100%;
}
}
.blue-card {
    padding: 130px 25px 30px 25px;
    color: white;
    background-color: #04093f;
    background-repeat: no-repeat;
    background-position: right;
    border-radius: 6px;
}

.blue-card h3 {
    font-size: 26px;
    font-weight: 800;
}

.blue-card p {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.89);
}

.blue-card a {
    color: white;
}


.razorpay-payments {
    background-image: url(https://www.razorpay.com/assets/home/accept-payments-bg.svg);

}

.white-card {
    box-shadow: 0px 0px 14px 1px rgba(155, 155, 155, 0.116);
    padding: 30px 25px 30px 25px;
    color: #0d2462;
    background-color: #ffffff;
    background-repeat: no-repeat;
    margin: 14px;
    border-radius: 6px;
}

.product-launches {
    font-size: 40px;
    font-weight: 800;
    padding: 16px;
}

.banner-sign-up-bar {
    border: 2px solid #4c65f6;
    display: inline-block;
    border-radius: 4px;
    overflow: hidden;
}

.banner-sign-up-bar button {
    background-color: #4c65f6;
    color: white;
    padding: 14px;
    font-size: 15px;
    border: none;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
}


.banner-sign-up-bar button:hover {
    background-color: #3b53d6;
    cursor: pointer;
}
.banner-sign-up-bar input {
    background-color: transparent;
    border: none;
    padding-left: 10px;
    font-size: 16px;
    color: white;
}
.banner-sign-up-bar input:focus {
    outline: none;
}

.fab {
    display: block;
    z-index: 100;
    position: fixed;
    background-color:#6578f3;
    height: 64px;
    width: 64px;
    bottom: 24px;
    right: 24px;
    border-radius: 50% 10% 50% 50%;
    box-shadow: 0px 10px 8px -2px rgba(0, 0, 0, 0.397);
}

.white-shapes {
    z-index: 300;
    width: 100%;
    position:absolute;
  bottom:-100px;
  right:0px;
  left:0;
    height: 100px;
    overflow: hidden;
}

.left-shape {
    margin-top: 50px;
    margin-left: -100px;
    width:900px;
    height: 150px;
    background-color: white;
    transform: rotate(4deg);
    float:left;
}

.right-shape {
    left:0;
    margin-top: 40px;
    width: 1900px;
    height: 150px;
    transform: rotate(-5deg);
    background-color: white;
}